<template>
  <div id="FormAddtodo">
    <h1>Todo List</h1>
    <form action="" id="Addform">
      <input
        @focus="ChangeBorder"
        :class="{ not_active: this.Error }"
        type="text"
        placeholder="Добавить задачу"
        v-model="InputValue"
      />
      <button class="send" @keyup.prevent @click="SendInputValue">Add</button>
    </form>
    <hr />
  </div>
</template>

<script>
export default {
  name: "FormAddtodo",

  data() {
    return {
      InputValue: "",
      Error: false,
    };
  },
  methods: {
    SendInputValue: function () {
      if (this.InputValue.length ==0) {
        this.Error = true;
      }
       else {
        this.Error = false;
        this.$emit("PushTodo", this.InputValue);
        this.InputValue =''
      }
    },
    ChangeBorder :function(){
        this.Error = false
    }
  },
};
</script>

<style>
h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
#Addform {
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
#Addform > * {
  border: 2px solid blue;
  border-radius: 9px;
  font-size: 20px;
}
input {
  width: 320px;
  height: 85%;
  outline: none;
  margin-right: 20px;
  font-family: Gilroy;
}
.not_active {
  border: 2px solid red !important;
  transition: all .3s ease;
}
.send {
  width: 150px;
  height: 100%;
  transition: all 0.3s ease;
  background-color: blue;
  cursor: pointer;
  color: #fff;
}
button:active {
  transition: all 0.3s ease;
  transform: scale(0.95);
}
hr {
  margin-top: 2em;
  opacity: 0.5;
  border-radius: 10px;
  background-color: grey;
}
</style>
