<template>
  <div id="TodoTasks">
    <div class="description">
      <h3>{{ element.title }}</h3>
      <i>{{ element.time }}</i>
    </div>
    <button class="close" @click='RemoveItem(element.id)'>
      <img src="../assets/cross.svg" width="20" height="20" alt="" />
    </button>
  </div>
</template>

<script>
export default {
  name: "TodoTasks",
  props: ["element","RemoveItem"],
  data() {
    return {};
  },
};
</script>

<style>
#TodoTasks {
  width: 300px;
  height: max-content;
  word-break: break-all;
  border: 2px solid blue;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
    transition: all .2s ease-in-out;
    padding: 10px 0px;
    background: rgba(0,0,0,.1);
    margin: 10px 0px;
}
#TodoTasks:hover{
  transform: scale(1.1);
  transition: all .2s ease-in-out;
  box-shadow: 0px 0px 5px blue;
}
.description {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
}
i {
  opacity: 0.5;
}
.close {
  width: 20px;
  height: 20px;
  margin: 22px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;

}
.close:hover{
  transform: scale(1.2);
  border-radius: 51%;
  background: red;
 
}
img {
  object-fit: cover;
}
</style>
