<template>
  <div id="app">
   <FormAddtodo @PushTodo="AddTodo"/>
    <div v-if='this.todos.length' class="wrapper__items">
      <TodoTasks v-for="item of todos" :key='item.id' :element="item" :RemoveItem ="RemoveTasks"/>
    </div>
    <div v-else class="alert">
        <h1>Добавьте задачу!</h1>
    </div>
  </div>
</template>


<script>
import FormAddtodo from './components/FormAddtodo.vue'
import TodoTasks from './components/TodoTasks.vue'

export default ({
  name:'app',
  data (){
    return{
      todos:[
        {
          id:1,
          time:'18:42',
          title:'Clean the house',
          isDeleated:false,
        }
      ]
    }
  },
  methods:{
    AddTodo :function (text,input){
        this.todos.push({
          id:Math.random(),
          time:new Date().getHours()+":"+new Date().getMinutes(),
          title:text,
          isDeleated:false
        })
    },
    RemoveTasks: function (id){
       this.todos = this.todos.filter(item => item.id != id)
    }
  },

  components :{
    FormAddtodo,
    TodoTasks
  }
})
</script>

<style>
#app {
  font-family:Gilroy ;
  max-width: 1200px;
  width: 100%;
  margin: 60px  auto;

}

.wrapper__items{
  margin-top: 20px;
  width:100%;
  height:max-content;
  display: grid;
  grid-template-columns:repeat(3,1fr) ;

}



</style>
